
body {
    font-family: "helvetica", sans-serif;
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    background-color: white;
}
div {
    display: inline-block;
    padding: 5px;
}
table {
    table-layout: fixed;
    border-spacing: 1px;
    border-collapse: separate;
    margin-left:auto;
    margin-right:auto;
    width: fit-content;
    overflow: scroll;
}
td, th {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    text-align: center;
    overflow: visible;
    position: relative;
}
th {
    background: lightblue;
    border-color: white;
}
.content {
    padding: 20px;
}
.form-select {
    width: fit-content;
    margin-left:auto;
    margin-right:auto;
    display: inline-block;
}
.complete {
    background-color: lightgray;
}
.center {
    text-align: center;
}
.no_border {
    border: 1px solid white;
}
.ddown {
    position: absolute;
    top: -15px;
    left: -15px;
}
.down {
    position: absolute;
    top: -17px;
    left: 10px;
}
.right {
    position: absolute;
    left: -13px;
    top: 10px;
}
/* td:not(:first-child){    
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    
    to {
      opacity: 1;
    }
  } */