<!doctype html>

{% extends "layout.html" %}
{% block content %}

<body>
    <h1>Sequence Alignment</h1>

    <form action="table_init" method="POST" enctype="multipart/form-data">
        <p>Sequence 1: <input type="text" name="seq1" value={{seq1}}></p> 
        <p>Sequence 2: <input type="text" name="seq2" value={{seq2}}></p>
        <p><input type="submit" name="submit" value="Create Table"></p>
    </form>

    <form action="table_fill" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="seq1" value={{seq1}}> 
        <input type="hidden" name="seq2" value={{seq2}}>
        <input type="hidden" name="index" value=0>
        <input type="hidden" name="scroll" value=window.pageYOffset>
        <p>Algorithm: 
            <select class="form-select" name="algo" data-width="fit">
            <option value="nw">Needleman-Wunsch (Global)</option>
            <option value="sw">Smith-Waterman (Local)</option>
            </select>
        </p>
        <p>Scoring Matrix: 
            <select class="form-select" name="matrix" data-width="fit">
            <option value="blosum62">blosum62</option>
            <option value="pam250">pam250</option>
            <option value="simple">simple</option>
            </select>
        </p>
        <p>Gap Penalty: <input type="number" name="gap" value=-2></p>
        <p><input type="submit" name="submit" value="Align"></p>
    </form>

    <table>
        <tr>
          <td class="no_border"></td>
          <td class="no_border"></td>
          {% for base in seq1 %}
            <th> {{ base }} </th>
          {% endfor %}
          </tr>
        <tr>
          <td class="no_border"></td>
          <td></td>
          {% for base in seq1 %}
            <td> </td>
          {% endfor %}
        </tr>
        {% for base in seq2 %}
        <tr>
          <th> {{base}}</th>
          <td></td>
          {% for base in seq1 %}
            <td> </td>
          {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>

{% endblock %}